<!DOCTYPE html>
<html>
    <head>
        <title><%= curriculo[0].perfil.nome %></title>
        <meta charset='utf-8'>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../public/css/style.css" type="text/css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div id="perfil">
            <h1><%= curriculo[0].perfil.nome %></h1>
            <p><%= curriculo[0].perfil.idade %> anos, <%= curriculo[0].perfil.dataDeNascimento %></p>
            <p><%= curriculo[0].contato.endereco %> - <%= curriculo[0].contato.bairro %> - <%= curriculo[0].contato.cidade %> - <%= curriculo[0].contato.estado %></p>
            <p>Telefone: <%= curriculo[0].contato.telefone %></p>
            <p>E-mail: <%= curriculo[0].contato.email %></p>
            <p>Website: <%= curriculo[0].contato.website %></p>
        </div>
        <div id="formacao">
            <h2>Formações</h2>
            <% curriculo[0].formacao.forEach(function(formacao) { %>
                <p><%= formacao.instituicao %> (<%= formacao.inicioDaFormacao %> - <%= formacao.fimDaFormacao %>)</p>
                <p><%= formacao.titulo %></p>
                <p><%= formacao.comentarios %></p>
            <% }) %>
        </div>
        <div id="idiomas">
            <h2>Idiomas</h2>
            <% curriculo[0].idiomas.forEach(function(idioma) { %>
                <p><%= idioma.idioma %> - <%= idioma.nivelDeFluencia %> - <%= idioma.instituicaoDeEnsino %></p>
            <% }) %>
        </div>
        <div id="experiencias">
            <h2>Experiências</h2>
            <% curriculo[0].experiencias.forEach(function(experiencia) { %>
                <p><%= experiencia.cargo %> (<%= experiencia.inicioDaExperiencia %> - <%= experiencia.fimDaExperiencia %>)</p>
                <p><%= experiencia.empresa %></p>
                <p><%= experiencia.descricao %></p>
            <% }) %>
        </div>
        <div id="adicionais">
            <h2>Informações adicionais</h2>
            <%= curriculo[0].informacoesAdicionais %>
        </div>
        <% console.log(curriculo[0]) %>
    </body>
</html>
