<!DOCTYPE html>
<html>
    <head>
        <title>Página do recrutador</title>
        <meta charset='utf-8'>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../public/css/style.css" type="text/css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.clo<udflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    </head>
    <body>
        <nav class="navbar navbar-light bg-light">
            <span class="navbar-brand mb-0 h1">Banco de Currículos:</span>
        </nav>
        <div class="container" id="upper-div">
            <div class="row py-4">
        <!--<div class="btn-group btn-group-toggle row" data-toggle="buttons">
                <label for="exibirArquivados" class="btn btn-secondary col-4">
                    <input type="radio" name="exibirArquivados" id="exibirArquivados"> Exibir arquivados
                </label>
                <label for="exibirNaoArquivados" class="btn btn-secondary col-4 active">
                    <input type="radio" name="exibirNaoArquivados" id="exibirNaoArquivados"> Exibir não arquivados
                </label>
            </div>-->
                <input type="button" id="arquivarSelecionados" class="btn btn-secondary btn-sm col-6 col-md-3 col-lg-2" value="Arquivar selecionados" onclick="arquivarSelecionados()">
                <input type="button" id="deletarSelecionados" class="btn btn-secondary btn-sm col-6 col-md-3 col-lg-2" value="Deletar selecionados" onclick="deletarSelecionados()">
                <input type="button" id="exibirArquivados" class="btn btn-secondary btn-sm col-6 col-md-3 col-lg-2 offset-lg-4 activable" value="Exibir arquivados">
                <input type="button" id="exibirNaoArquivados" class="btn btn-secondary btn-sm active col-6 col-md-3 col-lg-2 activable" value="Exibir não arquivados">
            </div>
        </div>
        <div id="curriculosNaoArquivados">
                <ul id="naoArquivados"> 
                    <div class="container overflow-auto">
                        <% curriculos.forEach(function(curriculo) { %>
                            <% if (!curriculo.arquivado) { %>
                                <div class ="row finalBorder" id="listaCurriculo">
                                    <div class = "col-1 align-self-center">
                                        <li><input type="checkbox" id="<%= curriculo._id %>"></li>
                                    </div>
                                    <div class = "col-5 col-lg-7 align-self-center">
                                        <li><a href="/curriculo/<%= curriculo._id %>"><%= curriculo.perfil.nome %></a></li>
                                    </div>
                                    <div class = "col-3 col-lg-2 align-self-center">
                                        <li><button class="btn btn-secondary btn-sm" onclick="arquivarCurriculo('<%= curriculo._id %>')">Arquivar</button></li>
                                    </div>
                                    <div class = "col-3 col-lg-2 align-self-center">
                                        <li><button class="btn btn-secondary btn-sm" onclick="deletarCurriculo('<%= curriculo._id %>')">Deletar</button></li>
                                    </div>
                                </div>
                            <% } %>
                        <% }); %>
                    </div>            
                </ul>
        </div>

        <div id="curriculosArquivados">
            <ul id="arquivados">
                <div class="container overflow-auto">
                    <% curriculos.forEach(function(curriculo) { %>
                        <% if (curriculo.arquivado) { %>
                            <div class ="row finalBorder" id="listaCurriculo">
                                <div class = "col-1 align-self-center">
                                    <li><input type="checkbox" id="<%= curriculo._id %>"></li>
                                </div>
                                <div class = "col-4 col-lg-7 align-self-center">    
                                    <li><a href="/curriculo/<%= curriculo._id %>"><%= curriculo.perfil.nome %></a></li>
                                </div>
                                <div class = "col-4 col-lg-2 align-self-center">
                                    <li><button class="btn btn-secondary btn-sm" onclick="desarquivarCurriculo('<%= curriculo._id %>')">Desarquivar</button></li>
                                </div>
                                <div class = "col-4 col-lg-2 align-self-center">
                                    <li><button class="btn btn-secondary btn-sm" onclick="deletarCurriculo('<%= curriculo._id %>')">Deletar</button></li>
                                </div>
                            </div>
                        <% } %>
                    <% }); %>
                </div>
            </ul>
        </div>

        <script src="../public/javascript/jquery-3.4.1.min.js"></script>
        <script src="../public/javascript/scriptRecrutador.js"></script>
    </body>
</html>