<!DOCTYPE html>
<html>
    <head>
        <title>Página do recrutador</title>
        <meta charset='utf-8'>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../public/css/styleRecrutador.css" type="text/css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    </head>
    <body>
        <nav class="navbar sticky-top navbar-light" style="background: linear-gradient(to left top, #e9e7e7, #ebeaea)">
            <span class="navbar-brand mb-0 h1">Banco de Currículos:</span>
        </nav>
        <div class="container" id="upper-div">
            <div class="row py-4">
                <input type="button" id="arquivarSelecionados" class="btn btn-secondary btn-sm col-6 col-md-3 col-lg-2" value="Arquivar selecionados" onclick="arquivarSelecionados()">
                <input type="button" id="deletarSelecionados" class="btn btn-secondary btn-sm col-6 col-md-3 col-lg-2" value="Deletar selecionados" onclick="deletarSelecionados()">
                <input type="button" id="exibirArquivados" class="btn btn-secondary btn-sm col-6 col-md-3 col-lg-2 offset-lg-4 activable" value="Exibir arquivados">
                <input type="button" id="exibirNaoArquivados" class="btn btn-secondary btn-sm active col-6 col-md-3 col-lg-2 activable" value="Exibir não arquivados">
            </div>
            <div class="row pb-4">
                <form name="inserirNovaVaga" class="form-inline" action="POST">
                    <input type="text" id="nome" name="nome" class="form-control" placeholder="Inserir nova vaga...">
                    <input type="submit" id="submeterVaga" class="form-control btn btn-secondary" value="Inserir vaga">
                </form>
                <form name="removerVagaCadastrada" class="form-inline" action="DELETE">
                    <select name="vaga" class="form-control">
                        <% vagas.forEach(function(vaga) { %>
                            <option value="<%= vaga._id %>"><%= vaga.nome %></option>
                        <% }); %>
                    </select>
                    <input type="submit" id="removerVaga" class="form-control btn btn-secondary" value="Remover vaga">
                </form>
            </div>
        </div>
        <div id="curriculosNaoArquivados">
                <ul id="naoArquivados"> 
                    <div class="container overflow-auto">
                        <% curriculos.forEach(function(curriculo) { %>
                            <% if (!curriculo.arquivado) { %>
                                <div class ="container row finalBorder" id="listaCurriculo">
                                    <div class="row col-12 col-lg-10">
                                        <div class = "col-2 col-lg-1 align-self-center">
                                            <li><input type="checkbox" id="<%= curriculo._id %>"></li>
                                        </div>
                                        <div class = "col-10 col-lg-11 align-self-center">
                                            <li><a href="/curriculo/<%= curriculo._id %>"><%= curriculo.perfil.nome %></a></li>
                                        </div>
                                    </div>    
                                    <div class="row col-12 col-lg-2">
                                        <div class = "col-6 col-lg-6 d-flex justify-content-center text-center align-self-center">
                                            <li><button class="btn btn-secondary btn-sm" onclick="arquivarCurriculo('<%= curriculo._id %>')">Arquivar</button></li>
                                        </div>
                                        <div class = "col-6 col-lg-6 d-flex justify-content-center text-center align-self-center">
                                            <li><button class="btn btn-secondary btn-sm" onclick="deletarCurriculo('<%= curriculo._id %>')">Deletar</button></li>
                                        </div>
                                    </div>
                                </div>
                            <% } %>
                        <% }); %>
                    </div>            
                </ul>
        </div>

        <div id="curriculosArquivados">
            <ul id="arquivados">
                <div class="container overflow-auto">
                    <% curriculos.forEach(function(curriculo) { %>
                        <% if (curriculo.arquivado) { %>
                            <div class ="row finalBorder" id="listaCurriculo">
                                <div class = "col-1 align-self-center">
                                    <li><input type="checkbox" id="<%= curriculo._id %>"></li>
                                </div>
                                <div class = "col-4 col-lg-7 align-self-center">    
                                    <li><a href="/curriculo/<%= curriculo._id %>"><%= curriculo.perfil.nome %></a></li>
                                </div>
                                <div class = "col-4 col-lg-2 align-self-center">
                                    <li><button class="btn btn-secondary btn-md" onclick="desarquivarCurriculo('<%= curriculo._id %>')">Desarquivar</button></li>
                                </div>
                                <div class = "col-4 col-lg-2 align-self-center">
                                    <li><button class="btn btn-secondary btn-md" onclick="deletarCurriculo('<%= curriculo._id %>')">Deletar</button></li>
                                </div>
                            </div>
                        <% } %>
                    <% }); %>
                </div>
            </ul>
        </div>

        <script src="../public/javascript/jquery-3.4.1.min.js"></script>
        <script src="../public/javascript/scriptRecrutador.js"></script>
    </body>
</html>