<!DOCTYPE html>
<html>
 
<head>
    <title>Página do recrutador</title>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../public/css/styleRecrutador.css" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
 
<body>
    <nav class="navbar sticky-top navbar-light navbar-expand-sm navbar-expand-md navbar-expand-lg mr-auto" style="background: linear-gradient(to left top, #e9e7e7, #ebeaea)">
            <button class="btn  d-sm-none d-md-none d-lg-none" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    &#9776;
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <span class="dropdown-item" onClick="exibir('vagas')">Vagas</span>
                <span class="dropdown-item" onClick="exibir('candidatos')">Candidatos</span>
            </div>
        </div>
        <span class="navbar-brand mb-0 h1">Talent Acquisition</span>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item d-none d-sm-block">
                    <span class="nav-link" onClick="exibir('vagas')">Vagas</span>
                </li>
                <li class="nav-item d-none d-sm-block">
                    <span class="nav-link" onClick="exibir('candidatos')">Candidatos</span>
                </li>
            </ul>
    </nav>
    
    <div class="container containerVaga d-none" id="upper-div">
        <div class="row">
            <div class="container">
            <form name="inserirNovaVaga" class="form-inline py-4 " method="POST">        
                    <input type="text" id="nome" name="nome" class="form-control-sm col-lg-4" placeholder="Nova vaga..." required>
                    <input type="text" id="palavrasChave" name="palavrasChave" class="form-control-sm col-lg-4" placeholder="Palavras-chave(opcional)">
                    <input type="submit" id="submeterVaga" class="btn btn-sm btn-info col-lg-4" value="Inserir vaga">
            </form>
            </div>
            <% vagas.forEach(function(vaga) { %>
                <div class="container row finalBorder divVaga">
                    <div class="col-lg-6 align-self-center">
                        <span class="nome"><%= vaga.nome %></span>
                    </div>
                    <div class="col-lg-2 d-flex justify-content-center text-center align-self-center">
                        <span>
                            Candidatos: <% let curriculos = arquivados.concat(naoArquivados); %>
                                <% let candidatos = 0; %>
                                <% curriculos.forEach(function(curriculo) { %>
                                <% if (curriculo.vaga === vaga.nome) {%>
                                    <% candidatos = parseInt(candidatos) + parseInt(1); %>
                                <% } %>
                            <% }); %>
                            <%= candidatos %>
                        </span>
                    </div>
                    <div class="col-lg-1 offset-lg-2 d-flex justify-content-center text-center align-self-center">
                        <button class="btn btn-outline-info btn-sm" data-toggle="tooltip" title="Deletar"
                            onclick="removerVaga('<%= vaga._id %>')"><i class="material-icons md-48">delete</i>
                        </button>
                    </div>
                    <div class="col-lg-1 d-flex justify-content-center text-center align-self-center">
                        <button class ="btn btn-outline-info btn-sm" data-toggle="tooltip" title="Editar palavras chave"
                            onClick="alterarPalavrasChave('<%= vaga._id %>')"><i class="material-icons md-48">edit</i>
                        </button>
                    </div>
                    <div id="form-alteracao<%= vaga._id %>" class="col-12 container d-none align-self-center p-3">
                        <div class="row "id="row">
                            <input type="text" id="novas-palavras-chave<%= vaga._id %>" class="form-control form-control-sm col-lg-4 offset-lg-2" placeholder="Insira as novas palavras-chave separadas por vírgula.">
                            <button class="form-control btn btn-sm btn-secondary col-lg-2 offset-lg-1" onClick="enviarAlteracaoDeVaga('<%= vaga._id %>')">Alterar vaga</button>
                        </div>
                    </div>
                </div>
            <% }); %>
        </div>
    </div>

    <div class="container containerCurriculo mt-5" id="upper-div">
        <div class="row pb-4">
            <span class="col-lg-1" style="color:#e9e7e7">Vaga:</span>
            <select name="vagaCurriculo" class="col-lg-3 form-control-sm ">
                <option value="selecione">Selecione uma vaga</option>
                <% vagas.forEach(function(vaga) { %>
                    <option value="<%= vaga._id %>"><%= vaga.nome %></option>
                <% }); %>
            </select>            
            <input type="text" class="col-lg-2 offset-lg-1 form-control-sm" id="pesquisaPorNome" placeholder="Pesquisar por nome">
            <input type="button" id="exibirArquivados"
                class="btn btn-outline-info btn-sm activable col-lg-2 offset-lg-1" value="Arquivados">
            <input type="button" id="exibirNaoArquivados"
                class="btn btn-outline-info btn-sm active activable col-lg-2" value="Não Arquivados">

        </div>
    </div>

    <% vagas.forEach(function(vaga) { %>
    <div id="curriculosNaoArquivados<%= vaga._id %>" class="container overflow-auto d-none">
        <% naoArquivados.forEach(function(curriculo) { %>
        <% if (curriculo.vaga == vaga.nome) { %>
        <div class="row finalBorder divCurriculo">
            <div class="row col-12 col-sm-10 col-md-10 col-lg-10">
                <div class="col-2 col-sm-1 col-md-1 col-lg-1 align-self-center">
                    <input type="checkbox" id="<%= curriculo._id %>">
                </div>
                <div class="col-8 col-sm-6 col-md-7 col-lg-7 align-self-center">
                    <a href="/curriculo/<%= curriculo._id %>" class="nome"><%= curriculo.perfil.nome %></a>
                </div>
                <div class="col-12 col-sm-5 col-md-4 col-lg-4 d-flex justify-content-center text-center align-self-center">
                    <span>Pontuação: <%= curriculo.pontuacao %></span>
                </div>
            </div>
            <div class="row col-12 col-sm-1 col-md-2 col-lg-2">
                <div class="col-6 col-sm-6 col-md-6 col-lg-6 d-flex justify-content-center text-center align-self-center">
                    <button class="btn btn-outline-info btn-sm" data-toggle="tooltip" title="Arquivar" 
                        onclick="arquivarCurriculo('<%= curriculo._id %>')"><i class="material-icons">archive</i>
                    </button>
                </div>
                <div class="col-6 col-sm-6 col-md-6 col-lg-6 d-flex justify-content-center text-center align-self-center">
                    <button class="btn btn-outline-info btn-sm" data-toggle="tooltip" title="Deletar"
                        onclick="deletarCurriculo('<%= curriculo._id %>')"><i class="material-icons">delete</i>
                    </button>
                </div>
            </div>
        </div>
        <% } %>
        <% }); %>
    </div>
 
    <div id="curriculosArquivados<%= vaga._id %>" class="container overflow-auto d-none">
        <% arquivados.forEach(function(curriculo) { %>
        <% if (curriculo.vaga == vaga.nome) {%>
        <div class="row finalBorder divCurriculo">
            <div class="row col-12 col-sm-10 col-md-10 col-lg-10">
                <div class="col-2 col-sm-1 col-md-1 col-lg-1 align-self-center">
                    <input type="checkbox" id="<%= curriculo._id %>">
                </div>
                <div class="col-8 col-sm-6 col-md-7 col-lg-7 align-self-center">
                    <a href="/curriculo/<%= curriculo._id %>"><%= curriculo.perfil.nome %></a>
                </div>
                <div class="col-12 col-sm-5 col-md-4 col-lg-4 d-flex justify-content-center text-center align-self-center">
                    <span>Pontuação: <%= curriculo.pontuacao %></span>
                </div>
            </div>
            <div class="row col-12 col-sm-1 col-md-2 col-lg-2">
                <div class="col-6 col-sm-6 col-md-6 col-lg-6 d-flex justify-content-center text-center align-self-center">
                    <button class="btn btn-outline-info btn-sm" data-toggle="tooltip" title="Desarquivar"
                        onclick="desarquivarCurriculo('<%= curriculo._id %>')"><i class="material-icons md-48">unarchive</i></button>
                </div>
                <div class="col-6 col-sm-6 col-md-6 col-lg-6 d-flex justify-content-center text-center align-self-center">
                    <button class="btn btn-outline-info btn-sm" data-toggle="tooltip" title="Deletar"
                        onclick="deletarCurriculo('<%= curriculo._id %>')"><i class="material-icons md-48">delete</i></button>
                </div>
            </div>
        </div>
        <% } %>
        <% }); %>
    </div>
    <% }); %>
    <div class="container mt-4">
        <div class="row justify-content-center">
            <input type="button" id="arquivarSelecionados" class="btn btn-secondary btn-sm col-6 col-md-3 col-lg-2 d-none" 
                value="Arquivar selecionados" data-toggle="modal" data-target="#modal"
                onclick="mostrarModal('arquivar')">
            <input type="button" id="deletarSelecionados" class="btn btn-secondary btn-sm col-6 col-md-3 col-lg-2 d-none"
                value="Deletar selecionados" data-toggle="modal" data-target="#modal" onclick="mostrarModal('deletar')">
        </div>
    </div>

    <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modalTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Confirmação</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <span id="modal-body-text"></span>
                </div>
                <div class="modal-footer">
                    <input type="button" id="modalNo" class="btn btn-secondary" data-dismiss="modal" value="Não">
                    <input type="button" id="modalYes" class="btn btn-primary" value="Sim">
                </div>
            </div>
        </div>
    </div>
    <script src="../public/javascript/scriptRecrutador.js"></script>
</body>
 
</html>