<!DOCTYPE html>
<html>
    <head>
        <title>Página do recrutador</title>
        <meta charset='utf-8'>
    </head>
    <body>
        <h1>Currículos no banco:</h1>
<<<<<<< HEAD

        <label for="exibirArquivados">Exibir arquivados</label>
        <input type="checkbox" name="exibirArquivados" id="exibirArquivados" value="exibirArquivados">

        <div id="curriculosNaoArquivados">
            <h2>Não arquivados:</h2>
                <ul id="naoArquivados">
                    <% curriculos.forEach(function(curriculo) { %>
                        <% if (!curriculo.arquivado) { %>
                            <li><a href="/curriculo/<%= curriculo._id %>"><%= curriculo.perfil.nome %></a></li>
                            <li><button onclick="arquivarCurriculo('<%= curriculo._id %>')">Arquivar</button></li>
                        <% } %>
                    <% }); %>
                </ul>
        </div>

        <div id="curriculosArquivados" style="visibility: hidden">
            <h2>Arquivados:</h2>
            <ul id="arquivados">
                <% curriculos.forEach(function(curriculo) { %>
                    <% if (curriculo.arquivado) { %>
                        <li><a href="/curriculo/<%= curriculo._id %>"><%= curriculo.perfil.nome %></a></li>
                    <% } %>
                <% }); %>
            </ul>
        </div>

        <script src="../public/javascript/jquery-3.4.1.min.js"></script>
        <script src="../public/javascript/scriptRecrutador.js"></script>
=======
        <ul>

            <% curriculos.forEach(function(curriculo) { %>
                <li><a href="/curriculo/<%= curriculo._id %>"><%= curriculo.perfil.nome %></a></li>
                <li><button onclick="arquivarCurriculo('<%= curriculo._id %>')">Arquivar</button></li>
            <% }); %>

        </ul>

        <script src="../public/javascript/jquery-3.4.1.min.js"></script>
        <script src="../public/javascript/script.js"></script>
>>>>>>> d388240997e09a3d87073f5f2f23807d8d14fee2
    </body>
</html>